* { margin:0; padding:0; box-sizing:border-box; }
body{
	background-color:#FFFFFF;
	color:#8A8A8A;
	font-family: 'Arapey', serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
h2{
	font-family: 'Nixie One', cursive;
	font-size:25px;
	line-height:1.25em;
	text-align: left;
	padding:.25em .25em 0 .5em;
}
p{
	padding:.5em .5em 1.5em .5em;
	font-size:16px;
	text-align: left;
}
li{
	list-style-type: none;
	display:inline-block;
	list-style: none;
	padding:0 .25em 0 .25em;
}
a{
	text-decoration: none;
	color:#72C7C7;
	display:inline-block;
	list-style: none;
}
#splash {
	background-image: url(images/aimlesslywandering.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	height:50vh;
}
.logo{
	max-width:50%;
	padding: 5em 0 5em 0;
}
#slogan{
	font-family: 'Nixie One', cursive;
	font-size:2em;
	line-height:1.25em;
	padding:1em 1em .25em 1em;
	text-align: center;
}
#nav{
	text-decoration: none;
	color:#72C7C7;
	display:inline-block;
	list-style-type: none;
	list-style: none;
}
#wrapper{
	max-width:50%;
	margin:35px 3% 2em 15%;
	float-left:left;
	background-color: green;
}
#posts{
	float:left;
}
aside{
	max-width:15%;
	float: left;
	margin:35px 15% 2em 3%;
}


