* { margin:0; padding:0; box-sizing:border-box; }
body{
	background-color:#FFFFFF;
	color:#8A8A8A;
	font-family: 'Arapey', serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
h1{
	color:#C7C7C7;
	font-family:Arial, helvetica, sans-serif;
	font-size:2em;
	font-style:normal;
	font-weight:normal;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color:#72C7C7;
}
#splash {
	background-image: url(images/aimlesslywandering.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
}
.image{
	width:100%;
}
#slogan{
	font-family: 'Nixie One', cursive;
	font-size:2em;
	line-height:1.25em;
}
