* { margin:0; padding:0; box-sizing:border-box; }
body{
	background-color:#FFFFFF;
	color:#E8E8E8;
	font-family: 'Arapey', serif;
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
h2{
	font-family: 'Nixie One', cursive;
	color:#E8E8E8;
	font-size:1.5em;
	line-height:1.25em;
	text-align: left;
	padding:.25em .5em 0 5%;
}
p{
	padding:.5em 5% 1.5em 5%;
	font-size:1.15em;
	text-align: left;
	width:90%;
}
li{
	list-style-type: none;
	display:inline-block;
	list-style: none;
	padding:.25em 1em .25em 1em;
}
a{
	text-decoration: none;
	color:#51979F;
	display:inline-block;
	list-style: none;
}
#splash {
	background-image: url(images/aimlesslywandering.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	height:70vh;
}
.logo{
	width:45%;
	margin: 10% 0 20% 0;
}
#slogan{
	font-family: 'Nixie One', cursive;
	color:#8A8A8A;
	font-size:2em;
	line-height:1.25em;
	padding:1em 1em .25em 1em;
	text-align: center;
}
#nav{
	text-decoration: none;
	color:#51979F;
	display:inline-block;
	list-style-type: none;
	list-style: none;
}
#wrapper{
	max-width:100%;
	height:900px;
	margin:2em auto;
}
#posts{
	width:60%;
	float:left;
	background-color:#A4CFD4;
	margin:0 0 5% 8%;
	padding-top:3%;
	float:left;
}
aside{
	min-width: 15em;
	max-width:22%;
	margin:2em 5% 0 2%;
	color:#8A8A8A;
	float:left;
}


