* { margin:0; padding:0; box-sizing:border-box; }
body{
	background-color:#ececec;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
h1{
	font-family:Raleway;
	font-weight:400;
	text-align:left;
	color:#708090;
	margin-top:5%;
}
h2{
	font-family:Raleway;
	font-size: 16px;
	font-weight:400;
	text-align:left;
	padding-top:8px;
	color:#708090;
}
h3{
	font-family:Raleway;
	font-size: 22px;
	font-weight:400;
	text-align:center;
	padding-top:8px;
	color:#708090;
}
p{
	font-family:Scheherazade;
	text-align:left;	
	line-height: 23px;
	font-size: 20px;
	padding-top:16px;
	color:#708090;

}
li{
	font-family:Raleway;
	font-size: 15px;
	list-style-type: none;
	display:inline-block;
	list-style: none;
	padding:0 .4em 0 .4em;
	margin:20px 0 5px 0;
}
a{
	font-family:Raleway;
	text-decoration: none;
	color:#006B8F;
	display:inline-block;
	list-style: none;
}
a:hover{
	color:black;
}
.logo{
	margin-top: 10px;
	max-width:50%;
}
.birthday{
	text-align: center;
	background-color: white;
	padding: 2em;
	height:45vh;
	margin:2% 20% 0 20%;
	padding:40px 10px 40px 20px;

}
.libra{
	width:40%;
	float:right;
	margin-left: 40px;
}
#nav{
	text-decoration: none;
	color:#72C7C7;
	display:inline-block;
	list-style-type: none;
	list-style: none;
}
section{
	font-size: 20px;
	padding-left:20px;
	margin:0 20% 0 19%;
}
.lipstick{
	background-color:white;
	float:left;
	max-width:46%;
	padding:25px 0 25px 0;
	margin:2% 2% 25px 2%;
}
.brush{
	background-color:white;
	max-width:46%;
	float:right;
	padding:25px 0 25px 0;
	margin:2% 1% 25px 2%;
}

#icons{
	width:190px;
	text-align:center;
	margin-bottom: 10px;
}
